<div class="question-display">
	<h2 class="title">{{ question.text }}</h2>
	<div class="question-answer">
		<form action="/answer", method="post">
			<!-- hidden input to transmit the question id -->
			<input type="hidden" name="question", value="{{ question.id }}" />			
			{% if question.is_best_answer %}
				{% for answer in question.randomized_answers %}
					<div class="answer">
						<label for="answer-{{ question.id }}-{{ answer.index }}">
							<input id="answer-{{ question.id }}-{{ answer.index }}"
								   type="radio" 
								   name="answer" 
								   value="{{ answer.index }}" 
							/>
							{{ answer.value }}
						</label>
					</div>
				{% endfor %}
			{% endif %}
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>